@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');
*,*::before,*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}


body{
	font-family: "Montserrat",sans-serif;
	font-size: 16px;
	margin: 0;
	background: #fff;
	min-height: 100vh;
	background:#000;
	position: relative;
}

img{
	max-width: 100%;
}
h1,h2{
	font-size: 46px;
	margin-bottom: 30px;
}
header{
	position: fixed;
	left: 0;
	top:0;
	width: 100%;
	z-index: 1000;
	padding: 15px 5px;
	
	
}
.container{
	max-width: 1100px;
	margin:0 auto;
	width: 100%;
	
}
header .container{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo img{
	width: 240px;
}



.main_container{
	height: 100vh;
	width: 200vh;
	overflow: auto;
}
.block-row{
	min-height: 100vh;
	background-size: cover;
	background-position: center center;
	background-blend-mode: darken;
	background-color: rgba(48,64,166,0.8);
	font-size: 20px;
	color: #fff;
}
.block-row h2{
	font-size: 90px;
	font-weight: 700;
}

.border_left{
	background: #000000;
	position: fixed;
	left: 0;
	top: 0;
	width: 15px;
	height: 100vh;
	z-index: 1000;
}
.border_bottom{
	background: #000000;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 15px;
	z-index: 1000;
}

.main-nav{
	padding: 0;
	margin: 0;
	list-style: none;
}
.main-nav li{
	display: inline-block;
	margin-left: 20px;
}
.main-nav li a{
	color: #fff;
	text-decoration: none;
	font-size: 20px;
}
.section{
	background:#fff;
	padding: 20px;
	width: 100%;
	height: 100vh;
	overflow: auto;
	color: white;
	font-size: 24px;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
#scroll_section{
	height: 100vh;
	overflow: hidden;
	position: relative;
}
.section.cl1{ background-color: #1abc9c ; position: static;}
.section.cl2{ background-color: #2ecc71 ;}
.section.cl3{ background-color: #3498db ;}
.section.cl4{ background-color: #9b59b6 ;}
.section.cl5{ background-color: #f1c40f ;}
.section.cl6{ background-color: #e74c3c ;}
.portfolio-box{
	border:2px solid;
	display: flex;
	align-items: center;
	justify-content: space-around;
}




#particles-js{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
}

.card-list {
    display: flex;
    padding: 3rem;
    overflow-x: scroll;
}

.card-list::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
.card-list::-webkit-scrollbar-thumb {
    background: #201c29;
    border-radius: 10px;
    box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25), inset -2px -2px 2px rgba(0,0,0,.25);
}

.card-list::-webkit-scrollbar-track {
    background: linear-gradient(90deg,#201c29,#201c29 1px,#17141d 0,#17141d);
}


.card {
    height: 350px;
    width: 400px;
    min-width: 250px;
    padding: 1.5rem;
    border-radius: 16px;
    background: #17141d;
    box-shadow: -1rem 0 3rem #000;
    display: flex;
    flex-direction: column;
    transition: .2s;
    margin: 0;
    scroll-snap-align: start;
    clear: both;
    position: relative;
}

.card:focus-within~.card, .card:hover~.card {
    transform: translateX(130px);
}

.card:hover {
    transform: translateY(-1rem);
}

.card:not(:first-child) {
    margin-left: -130px;
}


.card-header {
    margin-bottom: auto;
}

.card-header p {
    font-size: 14px;
    margin: 0 0 1rem;
    color: #7a7a8c;
}

.card-header h2 {
    font-size: 20px;
    margin: .25rem 0 auto;
    text-decoration: none;
    color: inherit;
    border: 0;
    display: inline-block;
    cursor: pointer;
}

.card-header h2:hover {
    background: linear-gradient(90deg,#ff8a00,#e52e71);
    text-shadow: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.card-author {
    margin: 3rem 0 0;
    display: grid;
    grid-template-columns: 75px 1fr;
    align-items: center;
    position: relative;
}

.author-avatar {
    grid-area: auto;
    align-self: start;
    position: relative;
    box-sizing: border-box;
}

.author-avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    filter: grayscale(100%);
    display: block;
    overflow: hidden;
    margin: 16px 10px;
}

.author-name {
    grid-area: auto;
    box-sizing: border-box;
}

.author-name-prefix {
    font-style: normal;
    font-weight: 700;
    color: #7a7a8c;
}

.half-circle {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60px;
    height: 48px;
    fill: none;
    stroke: #ff8a00;
    stroke-width: 8;
    stroke-linecap: round;
    pointer-events: none;
}

.tags {
    margin: 1rem 0 2rem;
    padding: .5rem 0 1rem;
    line-height: 2;
    margin-bottom: 0;
}

.tags a {
    font-style: normal;
    font-weight: 700;
    font-size: .5rem;
    color: #7a7a8c;
    text-transform: uppercase;
    font-size: .66rem;
    border: 3px solid #28242f;
    border-radius: 2rem;
    padding: .2rem .85rem .25rem;
    position: relative;
}

.tags a:hover {
    background: linear-gradient(90deg,#ff8a00,#e52e71);
    text-shadow: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-box-decoration-break: clone;
    background-clip: text;
    border-color: white;
}

input:not([type="submit"]),textarea{
	width: 100%;
	padding: 10px;
	font-size: 16px;
	margin-bottom: 20px;
	outline: 0;
}
textarea{
	height: 100px;
}
input[type="submit"]{
	background:black;
	padding: 10px;
	color: #fff;
	text-transform: uppercase;
	border: 0;
	cursor: pointer;
}
input[type="submit"]:hover{
	opacity: 0.7;
}